:root {
    --base: #fff;
    --primary-color: #5E5BBC;
    --secondary-color: #344856;
    --tertiary-color: #203646;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin-bottom: 20px;
}

#cabecera{
    background-color: #fff;
    color: var(--primary-color);
}

#nosotros{
    background-color: var(--primary-color);
    color: #fff;
}

#servicios{
    background-color: #fff;
    color: var(--primary-color);
}

#pie{
    text-align: center;
    background-color: var(--tertiary-color);
    color: #fff;
}

#me {
    font-family: Fuggles, sans-serif;
    font-size: 20px;
}

.espaciado {
    padding: 60px 80px;

}

.contenedor {
    max-width: 70%;
    margin:  0 auto;
}

.fila {
    display: flex; /*Flexbox*/
    flex-direction: row;

    margin: 0 -15px;
}

.columna {
    /*Con esto nos aseguramos de que tengna el mismo ancho*/
    flex-basis: 0; 
    flex-grow: 1;

    /*Para darles espacio*/
    padding: 0 15px;
}

.ajustar-ancho {
    width: 100%;
    height: auto;
}

.logo {
    width: 150px;
}