:root {
    --base: #fff;
    --primary-color: #5E5BBC;
    --secondary-color: #344856;
    --tertiary-color: #203646;
}

* {
    margin: 0;
    padding: 0;

    /* Para que las cajas incluyan el ancho, padding y border*/
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin-bottom: 20px;
}

#cabecera{
    background-color: #fff;
    color: var(--primary-color);
}

#nosotros{
    background-color: var(--primary-color);
    color: #fff;
}

#servicios{
    background-color: #fff;
    color: var(--primary-color);
}

#eventos{
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--base) 20%);
    background: -webkit-linear-gradient(90deg, var(--primary-color) 0%, var(--base) 20%);
    background: -moz-linear-gradient(90deg, var(--primary-color) 0%, var(--base) 20%);
}

#alumnos img{
    border: var(--tertiary-color) thin solid;
    border-radius: 50%;
}

#alumnos h3{
    text-align: center;
}

#pie{
    text-align: center;
    background-color: var(--tertiary-color);
    color: #fff;
}

#me {
    font-family: Fuggles, sans-serif;
    font-size: 20px;
}

.espaciado {
    padding: 20px 20px;

}

.contenedor {
    max-width: 70%;
    margin:  0 auto;
}

.fila {
    display: flex; /*Flexbox*/
    flex-direction: row;

    margin: 0 -15px;
}

.columna {
    /*Con esto nos aseguramos de que tengna el mismo ancho*/
    flex-basis: 0; 
    flex-grow: 1;

    /*Para darles espacio*/
    padding: 0 15px;
}

.ajustar-ancho {
    width: 100%;
    height: auto;
}

.logo {
    width: 125px;
}